/* Center only the header and progress title */
.header {
  display: flex;
  justify-content: center; /* Center the title horizontally */
  margin-bottom: 20px; /* Space between title and the rest of the content */
}

.title {
  font-size: 32px;
  font-weight: bold;
  color: #6F806A; /* Dark green shade */
  text-transform: uppercase;
}

/* Center the progress title */
.progressTitle {
  text-align: center; /* Center the progress title */
  font-size: 28px;
  margin-bottom: 20px;
  color: #495b4a; /* Darker green for contrast */
}

/* Floors container remains scrollable, but not centered */
.floorsContainer {
  max-height: 400px;
  overflow-y: auto;
  padding-right: 10px;
  margin-bottom: 20px;
  width: 100%; /* Full width to avoid affecting layout */
}

/* Floor Progress */
.floor {
  margin-bottom: 5px; /* Reduce margin to bring the floors closer together */
  border-radius: 5px;
}

.floorHeader {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d9d9d8; /* Lighter gray background */
  padding: 8px;
  border-radius: 5px;
  color: white;
}

.floorTitle {
  font-size: 16px;
  font-weight: bold;
  color: #3a4a38;
}

.progressBar {
  background-color: #d9d9d8; /* Slightly darker gray background */
  height: 40px; /* Taller progress bar */
  border-radius: 10px;
  flex-grow: 1;
  margin-left: 10px;
  position: relative;
  overflow: hidden;
}

.progress {
  background-color: #a7b194; /* Light green color */
  height: 100%;
  border-radius: 10px;
  text-align: center; /* Center the text within the bar */
  color: white;
  line-height: 40px; /* Center the text vertically */
  font-size: 18px; /* Larger font size for visibility */
  font-weight: bold;
}

/* Tasks Section */
.tasks {
  background-color: #495b4a;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
}

.tasksTitle {
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.taskList {
  list-style: none;
  padding-left: 0;
}

.taskItem {
  margin-bottom: 5px; /* Reduce space between tasks */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: #495b4a; /* Slightly darker color for task section */
  padding: 5px 10px;
  border-radius: 5px;
}

.taskName {
  font-size: 14px;
}

.taskProgressBar {
  height: 15px;
  border-radius: 10px;
  width: 93%;
  position: relative;
  overflow: hidden;
}

.taskProgress {
  background-color: #a7b194;
  height: 100%;
  border-radius: 10px;
  text-align: right;
  color: white;
  padding-right: 5px;
  line-height: 15px;
  font-size: 14px;
  font-weight: bold;
}

/* Last Update */
.lastUpdate {
  font-size: 12px;
  color: #999;
  text-align: right;
  margin-top: 10px;
}
